/* Dashboard.css */

.dashboard-container {
    display: flex;

  }
  
  .box {
    flex: 1;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .label {
    font-size: 14px;
  }
  
  .box:hover {
    box-shadow: #fff;
  }
  